
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_LayoutEcoEdu.cshtml";
}

@* @model List<eco_edu_mvc.Models.FAQsModels.FAQsModel> *@
	@model List<eco_edu_mvc.Models.Entities.Faq>



<head>
	<title>FAQs</title>
	<link rel="stylesheet" href="~/faq/FAQs.css">
</head>
<body style="background-color:white, color:black">


	<section>
		<h2 class="title">FAQs</h2>
		@foreach (var item in Model)
		{
			<div class="faq" style="border-bottom: 2px solid black; width:700px">
				<div class="question">
					<h3> @item.Question</h3>

					<svg width="15" height="10" viewBox="0 3 42 25">
						<path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
					</svg>

				</div>

				<div class="answer">
					<p>@item.Answer</p>
				</div>
			</div>
		}

	</section>
	<script src="~/faq/FAQs.js"></script>
	;

</body>

