@model eco_edu_mvc.Models.AccountsViewModel.ChangePasswordModel

@{
	Layout = "_Layout";
}

<div class="main">
	<h1>Recovery Password</h1>

	<form asp-action="ChangePasswordAdmin" method="post">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="password" asp-for="Password" required placeholder="Password" />
		<input type="password" asp-for="ConfirmPassword" required placeholder="Confirm Password" />
		<button type="submit">Submit</button>
	</form>
</div>
