@model eco_edu_mvc.Models.ContactViewModel.ContactModel

@{
    Layout = "_LayoutEcoEdu";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="~/contact/Contact.css">
</head>
<body>
    <section class="contact" style="padding:150px 100px;">
        <div class="content">
            <h2>CONTACT US</h2>
            <p> Please contact us if you need any assistance, thank you</p>
        </div>

        <div class="container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon"><i class="fa-solid fa-school"></i></div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>No.35, D5 Street, 25 Ward, Binh Thanh District, Ho Chi Minh City, Vietnam.</p>
                    </div>
                </div>

                <div class="box">
                    <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>abc@gmai.com</p>
                    </div>
                </div>

                <div class="box">
                    <div class="icon"><i class="fa-solid fa-headset"></i></div>
                    <div class="text">
                        <h3>Hotline</h3>
                        <p>+93213213</p>
                    </div>
                </div>
            </div>
            <div class="contactForm">
                <form asp-action="SendVerificationCode" class="signin-form" method="post" asp-controller="home">
                    <div asp-validation-summary="All" class="text-warning"></div>
                    <div class="inputBox">
                        <input type="text"  asp-for="FullName" required>
                        <span>Full name</span>
                    </div>
                    <div class="inputBox">
                        <input  type="text" asp-for="Email" required>
                        <span>Email</span>
                    </div>
                    <div class="inputBox">
                        <textarea cols="30" rows="10" required="required" asp-for="Message"></textarea>
                        <span>Type your Message</span>
                    </div>
                    <div class="inputBox">
                        <button type="submit" class="form-control btn btn-primary submit px-3">Send Email</button>
                    </div>
               
                </form>

            </div>
        </div>
    </section>
    <div style="text-align: center;"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125409.93152431674!2d106.5617414972656!3d10.8066891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529ed00409f09%3A0x11f7708a5c77d777!2zQXB0ZWNoIENvbXB1dGVyIEVkdWNhdGlvbiAtIEjhu4cgVGjhu5FuZyDEkMOgbyB04bqhbyBM4bqtcCBUcsOsbmggVmnDqm4gUXXhu5FjIHThur8gQXB0ZWNo!5e0!3m2!1svi!2s!4v1717739232419!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

</body>