@model eco_edu_mvc.Models.Entities.CompetitionEntry

@{
    ViewData["Title"] = "Join Competition";
}

<h1>Join Competition</h1>

<h4>Competition Entry</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Join">
            <div class="form-group">
                <label asp-for="SubmissionText" class="control-label"></label>
                <textarea asp-for="SubmissionText" class="form-control"></textarea>
                <span asp-validation-for="SubmissionText" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CompetitionId" />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
