﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green World - Admin</title>

    <link href="~/admin/css/lib/calendar2/semantic.ui.min.css" rel="stylesheet" />
    <link href="~/admin/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet" />
    <link href="~/admin/css/lib/chartist/chartist.min.css" rel="stylesheet" />
    <link href="~/admin/css/lib/font-awesome.min.css" rel="stylesheet" />
    <link href="~/admin/css/lib/themify-icons.css" rel="stylesheet" />
    <link href="~/admin/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/admin/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/admin/css/lib/weather-icons.css" rel="stylesheet" />
    <link href="~/admin/css/lib/menubar/sidebar.css" rel="stylesheet" />
    <link href="~/admin/css/lib/bootstrap.min.css" rel="stylesheet" />
    <link href="~/admin/css/lib/helper.css" rel="stylesheet" />
    <link href="~/admin/css/style.css" rel="stylesheet" />

    <style>
        header {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }

        .create-a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.25rem;
        }

        body {
            background-color: antiquewhite;
        }

        .vertical-line {
            display: inline-block;
            width: 1px;
            height: 32px;
            background-color: #000;
            margin: 0 10px;
        }
    </style>
</head>
<body>
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand shadowThis" asp-controller="Admin" asp-action="Index">Green World - Dashboard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Surveys" asp-action="Index">Surveys</a>
                        </li>

                        <hr class="vertical-line" />

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Competitions" asp-action="Index">Competitions</a>
                        </li>

                        <hr class="vertical-line" />

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Admin" asp-action="RequestShow">Requests</a>
                        </li>

                        <hr class="vertical-line" />

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="admin" asp-action="userlist">Users</a>
                        </li>

                        <hr class="vertical-line" />

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="seminars" asp-action="index">Seminar</a>
                        </li>

                        <hr class="vertical-line" />

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="FAQs" asp-action="index">FAQs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container-fluid content-wrap pb-3">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>