@model eco_edu_mvc.Models.Entities.Seminar

@{
    Layout = "_Layout";
}

<h2>Edit Seminar</h2>

<form asp-action="Edit">
    <input asp-for="SeminarId" value="@Model.SeminarId" hidden/>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location" class="control-label"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OccursDate" class="control-label"></label>
        <input asp-for="OccursDate" class="form-control" />
        <span asp-validation-for="OccursDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Participants" class="control-label"></label>
        <input asp-for="Participants" class="form-control" />
        <span asp-validation-for="Participants" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Active" class="control-label"></label>
        <select asp-for="Active" id="Active" name="Active" class="form-control">
            <option value="true">Available</option>
            <option value="false">Unavailable</option>
        </select>
        <span asp-validation-for="Active" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
